@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    margin: 10px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    background-position: fixed;
    font-size: 14px;
}
#meet-min{
    text-align: center;
    font-weight: bold;
}
.dat-loc{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.ent-meet{
    display: flex;
    border: 1px solid black;
    height: 30px;
    padding-top: 10px;
}
#dat{
    padding-left: 5px;
}
#meet{
    padding-left: 50px;
}
.all-work{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 30px;
    padding-top: 10px;
}
.meet-zon{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 30px;
    padding-top: 10px;
}
#attend{
    margin-top: 2%;
    font-weight: bold;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding-right: 150px;
}
#responsible{
    padding-right: 50px;
}
.btn{
    margin-top: 3%;
    text-align: center;
}

@media(max-width: 998px) {
    html{
        font-size: 55%;
    }
    .meet-zon{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-column: 1;
    }
    .taker{
        display: grid;
        grid-column: 1;
    }
    .attendees{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .schedule{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    
}

@media(max-width: 768px){
    html{
        font-size: 45%;
    }
    .meet-zon{
        width: 100%;
    }
    .attendees{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }
    .schedule{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    
}